body p, h2, h3, h4, h5, a{
	font-family: 'Montserrat', sans-serif !important;
}

.top-margin {
  margin-top: 150px !important;
}
.text {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 20px;
	margin-top: 20px;
}

a {
<<<<<<< HEAD
	font-family: 'Noto Serif', serif;
=======
	font-family: 'Montserrat', sans-serif !important;
>>>>>>> 677871953d98d3398c52238cef38f6b31f711570
	font-size : 23px !important;
	text-decoration: none;
	color: black;
}

a:hover{
	color: #2F4F4F;
	text-decoration: none;
}

.collapsible {
	color: black;
	cursor: pointer;
	font-size: 50px;
	margin-top: 20px;
	border: none;
	border-radius: 20%;
	padding: none;
	background-color: #FFFACD;
}
.collapsible:hover{
	color: DarkCyan;
	text-decoration: none;
}
.content {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	display: none;

}
.bioFont {
	font-family: 'Montserrat', sans-serif;

}
.proPic {
	border-radius: 3%;
}
